@import url(//db.onlinewebfonts.com/c/55d433372d270829c51e2577a78ef12d?family=Monument+Extended);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: 'Monument Extended';
}
::-moz-selection {
	background: #FA7F22;
}
::-webkit-selection {
	background: #FA7F22;
}
::selection {
	background: #FA7F22;
}
html.has-scroll-smooth {
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;  
}
@media only screen and (max-width: 500px) {
    body .cursor {
        display: 'none'
    }
}

a {
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar{
	height:4px;
	width: 4px;
}
::-webkit-scrollbar-track{
	background: #161514;

}
::-webkit-scrollbar-thumb{
	background: #3a3837;
	border-radius: 20px;
}
